@font-face {
    font-family: 'Kai';
    src: url("fonts/Kai.ttf") format("truetype");
}

@font-face {
    font-family: 'HanaMinA';
    src: url("fonts/HanaMinA.ttf") format("truetype");
}

body {
    width:100%;
    max-width: 960px;
    box-sizing: border-box;
    margin: 0 auto;
}

input {
    -webkit-appearance: none; 
    appearance: none;
}

.container {
    background-image: url(https://images.pexels.com/photos/4603879/pexels-photo-4603879.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: calc(100vw * 500 / 960);
    position: relative;

    .cover {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 1rem 0.6rem;
        background-color: rgba(2,3,5,0.15);
        .time {
            text-align: center;
            font-family: 'Kai','HanaMinA';
            font-weight: bold;
            font-size: 0.6rem;
            letter-spacing: 3px;
            color: #ffffff;

            span {
                font-size: 0.8rem;
            }
        }

        .subcontent {
            display: block;
            margin-top: 0.4rem;
            width: 100%;
            text-align: center;
            span {
                padding: 0.1rem 0.25rem;
                text-align: center;
                font-family: 'Kai','Heiti SC';
                font-size: 0.28rem;
                letter-spacing: 4px;
                background-color: #ffcc01;
                color:#555555
            }
        }
    }  
}

.input-view {
    margin-top: 0.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 0.3rem;

    .input-div {
        display: flex;
    }

    label {
        margin-left: 0.1rem;
        font-size: 0.16rem;
    }

    input {
        width: 2rem;
        margin-left: 0.1rem;
    }

    input[type="text"],input[type="url"] {
        border: 1px solid black;
    }

    input[type="file"] {
        width: 0;
        height: 0;
        padding: 0;
        opacity: 0;
    }

    button{
        font-size: 0.16rem;
        box-shadow: 1px 1px 3px #ccc;
        background: linear-gradient(to bottom, #eee, #ccc);
        border: 1px solid rgb(169, 169, 169);
        border-radius: 5px;
        text-align: center;
        line-height: 1.5;
        width: 1.5rem;
        cursor: pointer;
    }

    label[for="file-input"] {
        display: inline-block;
        vertical-align: center;
        box-shadow: 1px 1px 3px #ccc;
        background: linear-gradient(to bottom, #eee, #ccc);
        border: 1px solid rgb(169, 169, 169);
        border-radius: 5px;
        text-align: center;
        line-height: 1.5;
        width: 1.5rem;
        cursor: pointer;
    }
    
    label[for="file-input"]:hover {
    background: linear-gradient(to bottom, #fff, #ddd);
    }
    
    label[for="file"]:active {
    box-shadow: inset 1px 1px 3px #ccc;
    }
}

@media (min-width:960px) {
    .container {
        height: 500px;
    }
}

@media (max-width:375px) {
    .container {
        .cover {
            padding: 1rem 0.4rem;
        }
    }
    
}

